body {
    background: #fff;
}
* {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    color: #000 !important;
}

li {
    list-style-position: inside;
    margin-bottom: 0.8ex;
}

span, pre, h2, h3, p, ul {
    background-color: #fff;
    opacity: 0.75;
    font-size: 80%;
}

ul {
    width: 50%;
    padding-left: 1em;
}

.reveal section img {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

section {
    background-repeat: no-repeat;
    background-position: left 0;
    margin-top: 10%;
    width: 100%;
}

.reveal a {
    color: #767676 !important;
}

.slide-1 {
    background-image: url('../images/westalkalltheway.png');
    background-position: left center;
}

.slide-2 {
    background-image: url('../images/westalkwho.png');
    background-position: -3em 0;
}

.slide-3 {
    background-image: url('../images/westalkhyperwhat.png');
}

.slide-4 {
    background-image: url('../images/westalknoreally.png');
}

.slide-5 {
    background-image: url('../images/westalkwhatsnew.png');
    background-position: -3em 0;
}

.slide-6 {
    background-image: url('../images/westalkarchi.png');
    background-position: -3em 0;
}

.slide-7 {
    background-image: url('../images/westalkservices.png');
}

.slide-8 {
    background-image: url('../images/westalkapiweb.png');
    background-position: -4em 0;
}

.slide-9 {
    background-image: url('../images/westalkbraveworld.png');
}

.slide-11 {
    background-image: url('../images/westalkwhatabout.png');
    background-position: 0 -2em;
}

.slide-15 {
    background-image: url('../images/westalkjanebutton.png');
}

.slide-17 {
    background-image: url('../images/1sand0s.png');
    background-position: 4em 5em;
}

.slide-18 {
    background-image: url('../images/proxies.png');
    background-position: 0 -2em;
}

.slide-18 pre {
    margin-top: 20%;
    margin-left: 25em;
    width: 20em;
}

.slide-21 {
    background-image: url('../images/westalkwebapi.png');
    background-position: 0 3em;
}

.slide-23 {
    background-image: url('../images/barium.jpg');
}

.slide-26 {
    background-image: url('../images/westalkskyhooktornado.png');
}

.exit1 {
    background-image: url('../images/westalkexitmob.png');
    background-position: -3em 0;
}

.exit2 {
    background-image: url('../images/westalkexitmoped.png');
    background-position: 1000px 0;
}

.animate-exit2 {
    -webkit-animation-duration: 8s;
    -webkit-animation-name: slidein;
    -moz-animation-duration: 8s;
    -moz-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}

@-moz-keyframes slidein {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}
